.card {
  width: 18rem;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
}
.modale {
  /* top: 0;
  position: relative;
  z-index: 3; */
  width: 20em;
  margin: 0 auto;
  margin-top: 30vh;
  background: white;
  border-radius: 10px;
  padding: 20px;
}
